header {
  background-color: darkgray;
  margin-bottom: 30px;
}
header nav {
  width: 960px;
  margin: auto;
}
main {
  /* background-color: pink; */
  width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main img {
  margin-bottom: 30px;
}
footer {
  background-color: gray;
  height: 50px;
}
